h1= title
form(action=`${ detail ? `/${ content }/${ book.id }/${ book.title.replace(/ /g, '_') }` : `/${content}/new` }`, method="post")
    p
        label(for="title") Title
        input(id="title", name="title", type="text", value=`${ detail ? book.title : '' }`)
    p
        label(for="author") Author
        input(id="author", name="author", type="text", value=`${ detail ? book.author : '' }`)
    p
        label(for="genre") Genre
        input(id="genre", name="genre", type="text", value=`${ detail ? book.genre : '' }`)
    p
        label(for="first_published") First Published
        input(id="first_published", name="first_published", type="text", value=`${ detail ? book.firstPublished : '' }`)
    p
        input(type="submit", value=`${ detail ? 'Update' : 'Create New Book'}`)
