for book in bookData
    tr
        td 
            a(href=`/${ content }/${ book.id }/${ book.title.replace(/ /g, '_') }`)= book.title
        td= book.author
        td= book.genre
        td= book.first_published
