h1= title  
a.button(href=`/${content}/new`) Create New Item
p Filters 
    a(href=`/${content}`) All | 
    a(href=`/${content}?filter=overdue`) Overdue | 
    a(href=`/${content}?filter=checked_out`) Checked Out
