for loanedBook in loanedBooks
    tr
        td 
            a(href=`/books/${ loanedBook.bookId }/${ loanedBook.bookName.replace(/ /g, '_') }`)= loanedBook.bookName
        td
            a(href=`/patrons/${ loanedBook.patronId }/${ loanedBook.patronName.replace(/ /g, '_') }`)= loanedBook.patronName
        td= loanedBook.loanedOn
        td= loanedBook.returnBy
        td= loanedBook.returnedOn
        if loanedBook.returnedOn === null
            td 
                a.button(href="/books/return") Return Book
