for loanedBook in loanedBooks
    tr
        td 
            a(href=`books/detail`)= loanedBook.bookName
        td
            a(href=`patrons/detail`)= loanedBook.patronName
        td= loanedBook.loanedOn
        td= loanedBook.returnBy
        td= loanedBook.returnedOn
        if loanedBook.returnedOn === null
            td 
                a.button(href="books/return") Return Book
