include ./_error
h1= title
form(action=`/${content}/new`, method="post")
    p 
        label(for="book_id") Book
        select(id="book_id", name="book_id")
            each book in books
                option(value=book.id)= book.title
    p
        label(for="patron_id") Patron
        select(id="patron_id", name="patron_id")
            each patron in patrons
                option(value=patron.id)= patron.fullName 
    p
        label(for="loaned_on") Loaned on
        input(id="loaned_on", name="loaned_on", type="text", value=`${ today ? today : '' }`)
    p
        label(for="return_by") Return by
        input(id="return_by", name="return_by", type="text", value=`${ aWeekFromNow ? aWeekFromNow : '' }`)
    p
        input(type="submit", value="Create New Loan")
