for loanedBook in loanedBooks
    tr
        td 
            a(href=`/books/${ loanedBook.book_id }/${ loanedBook.Book.title.replace(/ /g, '_') }`)= loanedBook.Book.title
        td
            a(href=`/patrons/${ loanedBook.patron_id }/${ loanedBook.Patron.full_name.replace(/ /g, '_') }`)= loanedBook.Patron.full_name 
        td= loanedBook.loaned_on
        td= loanedBook.return_by
        td= loanedBook.returned_on
        if loanedBook.returned_on === null
            td 
                a.button(href=`/books/${ loanedBook.id }/return`) Return Book
