h1= title     
form
    p
        label(for="first_name") First Name 
        input(id="first_name" type="text" value=`${ detail ? patronDetails.firstName : '' }`)
    p 
        label(for="last_name") Last Name 
        input(id="last_name" type="text" value=`${ detail ? patronDetails.lastName : '' }`)
    p
        label(for="address") Address 
        input(id="address" type="text" value=`${ detail ? patronDetails.address : '' }`)
    p
        label(for="email") Email 
        input(id="email" type="text" value=`${ detail ? patronDetails.email : '' }`)
    p 
        label(for="library_id") Library ID 
        input(id="library_id" type="text" value=`${ detail ? patronDetails.libraryId : '' }`)
    p
        label(for="zip_code") Zip Code 
        input(id="zip_code" type="text" value=`${ detail ? patronDetails.zip : '' }`)
    p
        input(type="submit" value=`${ detail ? 'Update' : 'Create New Patron'}`)
