for patron in patronData
    tr
        td 
            a(href=`${content}/${patron.id}`)= patron.fullName
        td= patron.address
        td= patron.email
        td= patron.libraryId
        td= patron.zip
