extends ./layout.pug
block content
    h1= title  
    a.button(href=`${content}/new`) Create New Item
    p Filters 
        a(href=`/${content}`) All | 
        a(href=`/${content}?filter=overdue`) Overdue | 
        a(href=`/${content}?filter=checked_out`) Checked Out
    table
        include ./includes/_table_headers.pug
        tbody
            for loan in loans
                tr
                    td 
                        a(href="/detail")= loan.dataValues.Book.dataValues.title
                    //- a(href="/detail")= items.dataValues[column]
                    if content === 'loans'
                        td 
                            a.button(href="books/return") Return Book
